fastapi==0.104.1
uvicorn==0.24.0
python-dotenv==1.0.0
pydantic==2.5.0
requests==2.31.0

# Bibliotecas para pruebas
httpx==0.24.0  # Para realizar solicitudes HTTP en pruebas
pytest==7.4.0  # Herramienta de pruebas para Python
pytest-asyncio==0.20.0  # Soporte para pruebas asincrónicas en pytest
